<div style="min-height: 649px;" class="content-wrapper">
        <section class="content-header" style="padding-bottom: 30px;">
          <h1 class="pull-left">
                    	Registration Form
          


          </h1>
          <div class="pull-right">
            <a href="" class="btn btn-primary pull-right">
  Back</a>
          </div>



        </section>


        <section class="content">
          <!-- Notifications -->
          <div class="row">

              
                    </div>


          <!-- Content -->
          


<div class="row">
  <div class="col-md-8 col-md-offset-2">
         <form id="create-form" class="form-horizontal" method="post" action="" autocomplete="off" role="form" enctype="multipart/form-data">
   


    <div class="box box-default">
      
      <div class="box-body">







       <!-- First Name  -->
       <div class="form-group ">
           <label for="firstName" class="col-md-3 control-label">First Name </label>
           <div class="col-md-7 col-sm-12">
               <input class="form-control" name="serial" id="firstName" type="text">
               
           </div>
       </div>

       <!-- Last Name -->
       <div class="form-group ">
           <label for="lastName" class="col-md-3 control-label">Last Name</label>
               <div class="col-md-7 col-sm-12">
                   <input class="form-control" name="name" id="lastName" type="text">
                   
               </div>
       </div>

          <!-- Email Address -->
          <div class="form-group ">
              <label for="email" class="col-md-3 control-label">Email Address</label>
              <div class="col-md-7 col-sm-12">
                  <input class="form-control" name="name" id="email" type="text">

              </div>
          </div>


          <!-- Email Address -->
          <div class="form-group ">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-7 col-sm-12">
                  <input class="form-control" name="name" id="password" type="text">

              </div>
          </div>

          <!-- Repeat password -->
          <div class="form-group ">
              <label for="repeatPassword" class="col-md-3 control-label">Repeat Password</label>
              <div class="col-md-7 col-sm-12">
                  <input class="form-control" name="name" id="repeatPassword" type="text">

              </div>
          </div>

          <div class="form-group ">
          <div class="container">
              <label for="gender" class="col-md-3 control-label">Gender</label>
              <div class="col-md-7 col-sm-12">
              <form role="form">
                  <label class="radio-inline">
                      <input type="radio" name="optradio">Option 1
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="optradio">Option 2
                  </label>

              </form>
              </div>
          </div>
          </div>


      </div><!-- /.box-body -->
      <div class="box-footer text-right">
        <a class="btn btn-link" href="" method="post" enctype="multipart/form-data">Cancel</a>
        <button type="submit" class="btn btn-success" id="submit-button"></i> Save</button>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->


    </form>
    </div>
</div>



        </section>

      </div>